body{
background-color: rgb(245, 233, 217);
}

img{
 border-radius: 10px;
}
.card-content {
    margin-left:20%;
    margin-top: 10%;
    width: 700px;
    display: flex;
    flex-direction: row;
    position: fixed;
    height: 450PX;
    background-color: white;
    border-radius: 10px;
}
.card-content1 {
 width: 400px;
 padding-left: 25px;
 padding-bottom: 0px;;
 
}
h3 {
    font-family:  'Roboto Mono', monospace;
}

h1{
    font-family: 'Cormorant Garamond', serif;
}
h2{
    font-family: 'Cormorant Garamond', serif;
}
.card-content2{
    display: flex;
    align-items: center;
    padding-top: 10px;
}

button {
    background-color: whitesmoke;
    border:none;
    border-radius:25px;
    padding: 15px 35px ;
    text-align: center;
    font-family: 'Domine', serif;
    font-size:16px;
}
