body{
background-color: rgb(244, 234, 222);
}

img{
 border-radius: 10px;
}
.card-content {
    margin-left:30%;
    margin-top: 7%;
    width: 600px;
    display: flex;
    flex-direction: row;
    position: fixed;
    height: 450PX;
    background-color: white;
    border-radius: 10px;
}
.card-content1 {
 width: 400px;
 padding-left: 25px;
 padding-bottom: 0px;;
 
}
h3 {
    font-family:  'Roboto Mono', monospace;
    
}

h1{
    font-family: 'Cormorant Garamond', serif;
    font-size:200%;
}
h2{
    font-family: 'Cormorant Garamond', serif;
    color:rgb(55, 104, 96); 
    font-size: 30px;
}

.card-content2{
    display: flex;
    align-items: center;
    padding-top: 10px;

}

button {
    background-color:rgb(14, 62, 54);
    border:none;
    border-radius:10px;
    padding: 10px 55px ;
    text-align: center;
    font-family: 'Domine', serif;
    font-size:16px;
    color: white;
}
